#SPDX-License-Identifier: MIT-0
---
# tasks file for firewall
- name: Installer iptables services (RHEL)
  ansible.builtin.package:
    name: iptables-services
    state: present
  when: ansible_os_family == "RedHat"

- name: Autoriser connexions établies
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT


- name: Autoriser ports entrants
  ansible.builtin.iptables:
    chain: INPUT
    protocol: tcp
    destination_port: "{{ item }}"
    jump: ACCEPT
  loop: "{{ firewall_allowed_in_ports }}"

- name: Autoriser ports sortants
  ansible.builtin.iptables:
    chain: OUTPUT
    protocol: tcp
    destination_port: "{{ item }}"
    jump: ACCEPT
  loop: "{{ firewall_allowed_out_ports }}"

- name: Autoriser loopback
  ansible.builtin.iptables:
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Définir politique par défaut INPUT à DROP
  ansible.builtin.iptables:
    chain: INPUT
    policy: DROP
